.appContainer {
  padding: 0 30px;
  margin: 75px 0;
  position: relative;
}

.productDescriptionContainer {
  display: flex;
  flex-wrap: wrap;
}

.sizeInfoContainer {
  display: flex;
  flex-wrap: wrap;
}

.sizeInfoImage {
  max-width: 100%;
  height: auto;
  width: auto;
}