// Colors
$primary-color: #383838;
$background-white: #fff;
$dark-grey: #c3baba;
$light-grey: #e3e3e3;
$button-black: #000000;

.essentialInformation {
  height: 810px;
  width: 300px;
  left: 300px;
  margin: 0;
  flex: none;
  color: $primary-color;
  font-family: Georgia, Normal;
  font-weight: 400;
  line-height: 1.4;
  font-size: 13px;
}

.starsContainer {
  margin-right: 7px;
}

.productNameContainer {
  margin-bottom: 3px;
}

.productName {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}

.designerContainer {
  margin-top: 3px;
}

.designerButton {
  text-decoration: none;
  border-bottom: 2px solid $background-white;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

.priceContainer {
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 15px;
}

.descriptionContainer {
  margin-top: 30px;
}


.fitSizeColorContainer {
  margin-top: 40px;
}

.fitContainer {
  margin-bottom: 5px;
}

.fit {
  margin-right: 5px;
  font-weight: 700;
}

.sizeContainer {
  position: relative;
  margin-bottom: 15px;
  display: flex
}

.sizeBox {
  cursor: pointer;
  border: 1px solid $light-grey;
  width: 100%;
  padding: 12px 15px;
  display: flex;
  margin-bottom: 2px;

  &:hover {
    margin-bottom: 0;
    border-bottom: 3px solid $dark-grey;
  };
}

.boxText {
  font-weight: 700;
}

.carrot {
  margin-left: auto;
}

.dropdownContainer {
  position: absolute;
  z-index: 1; 
  width: 100%;
}

.dropdownContainerBoxTitle {
  cursor: pointer;
  background: $background-white;
  box-shadow: 0 0 5px 1px $light-grey;
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 2px;
}

.dropdownContainerBox {
  cursor: pointer;
  background: $background-white;
  box-shadow: 0 0 5px 1px $light-grey;
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 2px;

  &:hover {
    border-bottom: 3px solid $dark-grey;
    margin-bottom: 0;
  };
}

.selectedBox {
  cursor: pointer;
  background: $background-white;
  box-shadow: 0 0 5px 1px $light-grey;
  padding: 10px 15px;
  display: flex;
  border-bottom: 3px solid $primary-color;
}

.dropdownTitle {
  font-weight: 700;
}

.sizeGuideContainer {
  margin-top: 3px;
  margin-bottom: 12px;
  display: flex;
}

.sizeGuide {
  margin-left: auto;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;
  margin-bottom: 1px;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    margin-bottom: 0;
    border-bottom: 2px solid $primary-color;
  }
}

.colorSelectorImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid $background-white;
  box-shadow: 0 0 0 1px $light-grey;

  &:hover{
    box-shadow: 0 0 0 2px $dark-grey;
    transition: box-shadow .2s;
  }
}

.dropdownColorContainerBox {
  cursor: pointer;
  background: $background-white;
  box-shadow: 0 0 5px 1px $light-grey;
  padding: 10px 15px;
  display: flex;
  border-bottom: 3px solid $background-white;
  
  &:hover {
    border-bottom: 3px solid $dark-grey;
  };
}

.colorSelectedImage {
  box-shadow: 0 0 0 2px $primary-color;
}

.colorText {
  margin-top: 5px;
}

.colorContainer {
  margin-top: 15px;
  margin-bottom: 20px;
}

.quantity {
  width: 40px;
  height: 40px;
  text-align: center;
  outline-offset: -2px;
  outline: 2px solid transparent;
  border: 1px solid $dark-grey;

  &:hover {
    transition: box-shadow .2s;
    box-shadow: 0 0 0 2px $primary-color;
  }
}

.bagContainer {
  margin-top: 40px;
}

.button {
  cursor: pointer;
  width: 100%;
  background: $button-black;
  color: $background-white;
  height: 40px;

  &:hover{
    background: #333333;
  }
}

.wishListContainer {
  margin-top: 12px;
}

.wishList {
  text-decoration: none;
  border-bottom: 1px solid $primary-color;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    border-bottom: 2px solid $primary-color;
  }
}

.buyContainer {
  margin: 20px 0 5px
}

.buy {
  font-weight: 700;
}

.availabilityContainer {
  margin: 0 0 15px;
}

.zipAndButton {
  display: flex;
}

.zipCode {
  height: 40px;
  min-width: 130px;
  padding: 0 14px;
  border: 1px solid $dark-grey;
  margin-right: 10px;
}