// Colors
$primary-color: #383838;
$background-white: #fff;
$dark-grey: #c3baba;

.breadCrumbContainer {
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  text-align: left;
  line-height: 4rem;
}

.leftArrowContainer {
  padding: 15px 0;
  justify-content: center;
}

.designerContainer {
  margin-left: 5px;
  text-decoration: none;
  justify-content: center;
  padding: 12px 0;

  &:link {
    color: $primary-color;
  }
  
  &:visited {
    color: $primary-color;
  }
}

.designer {
  border-bottom:2px solid $background-white;
  cursor: pointer;


  &:hover{
    border-bottom: 2px solid $primary-color;
    transition: border-bottom .2s;
  }
}