.imageCarouselContainer {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 240.094px);
  width: calc(100% - 450px);
}

.carouselContainer {
  height: 545px;
  width: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.arrowAndPhotoContainer {
  height: 505px;
  width: 60px;
  flex-wrap: wrap;
}

.carouselPhotoContainer {
  margin: 10px 0;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carouselImage {
  cursor: pointer;
  display: block;
  border-bottom:3px solid #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  height: auto;
  width: 100%;
  &:hover{
    border-bottom: 3px solid #c3baba;
    transition: border-bottom .2s;
  }
}

.arrowUpSVGContainer {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  left: 25%;
  margin: 0 auto;
  z-index: 2;
}

.arrowDownSVGContainer {
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 25%;
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.visible {
  display: block;
}

.invisible {
  display: hidden;
}
.selectedImgContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.selectedImg {
  height: 100%;
  width: auto;
  margin: 0 auto;
  align-self: center;
}