.mainContainer {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 240.094px);
  width: calc(100% - 450px);
}

.carouselContainer {
  height: 540px;
  width: 60px;
  position: relative;
  display: flex;
  justify-content: center;
}

.carouselPhotoContainer {
  white-space: nowrap;
  height: 500px;
  width: 60px;
  position: relative;
}

.carouselUlContainer {
  list-style: none;
}

.carouselImage {
  cursor: pointer;
  display: block;
  border-bottom:3px solid #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100px;
  width: 100%;
  display: block;
  &:hover{
    border-bottom: 3px solid #c3baba;
    transition: border-bottom .2s;
  }
}

.arrowUpSVGContainer {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.selectedImgContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.selectedImg {
  height: 100%;
  width: auto;
  margin: 0 auto;
  align-self: center;
}